<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Drawing Circle </title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/script/client.js"></script>
</head>

<body>
    <div class="container">
        <div class="container-wrapper">
            <h1 style="text-align: center;">Drawing Circles</h1>
            <div class="body-wrapper">
                <div class="action-btn ">
                    <a href="#" id="yellow_btn" class="button">Yellow</a>
                    <a href="#" id="green_btn" class="button">Green</a>
                    <a href="#" id="purple_btn" class="button">Purple</a>
                    <a href="#" id="blue_btn" class="button">Blue</a>
                    <a href="#" id="clear_btn" class="button">Clear</a>
                </div>
                <div class="log-wrapper">
                    <div id="room" class="log-container">
                        <h4>Members in the room:</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>